.dashboard-layout-quick-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-layout-quick-actions-form > label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  margin: 20px;
  border-right: 5px solid rgb(17, 128, 255);
  background-color: rgb(247, 247, 247);
  transition: all 0.3s;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  font-size: 18px;
  font-weight: 600;
}

.dashboard-layout-quick-actions-form > label > input {
  width: 0;
}

.dashboard-layout-quick-actions-form label:has(input:checked) {
  border-right: 5px solid rgb(0, 0, 0);
  translate: 8px 0;
}
